/*
 * LAYOUT
** =============================================================== */

@use "_var.scss";

/* HEADER */
.header__img{
	width: 100%;
}

/* BODY */
body[data-theme="dark"] {
    background: radial-gradient(circle, #045D10 0%, #03440C 100%);
	.rectangle--background{
		background: radial-gradient(circle, #045D10 0%, #03440C 100%);
	}
}

/* Burger Menu */
.navBtn{
	background-color: inherit;
	width: 40px;
	height: 40px;
	border: none;
    z-index: 3;
    border: none;
	cursor: pointer;
	color: var(--color-on-primary);
	padding: 0;
}
.navBtn__svg{
 fill: var(--color-on-primary);
}
.navBtn--croix{
	display: none;
}
body[data-menu] .menu{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--color-primary);
    z-index: 2;
}
body[data-menu] .main {
    visibility: collapse;
    display: none;
}

/* Menu Navigation */
.header{
    padding: 10px;
    margin-bottom: 36px;
}
.menu{
    display: none;
}

/* Switch DarkMode */
.switch{
	margin: 10px;
	grid-column: 2 / 3;
	justify-self: end;
	align-self: center;
}
.checkbox {
	opacity: 0;
	position: absolute;
}
.label {
	background-color: var(--color-primary);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 20px;
	width: 50px;
	transform: scale(1.5);
	box-sizing: border-box;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
}
.svg--color{
	fill: #000000;
}
.ball {
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 6px;
	height: 16px;
	width: 16px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
	transform: translateX(21px);
}

/* Cacher du texte */
.btn--sanstexte {
    overflow: hidden;
    position: relative;
    display: none;

    .btnContent{
        text-indent: 100%;
        white-space: nowrap;
        position: absolute;
    }
}

/* Main */
.section:last-child{
    margin-bottom: 72px;
}
.btn{
    margin-top: 18px;
    background-color: var(--color-primary);
    border-radius: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.icone__el{
	border-radius: 15px;
	text-align: center;
	border: 3px solid var(--color-secondary-variant);
}
.icone__el>:last-child{
	padding-bottom: 18px;
}
.icone__el>:first-child{
	padding-top: 18px;
}
.images{
	width: 100%;
}
/* Footer */
.footer{
    background-color: var(--color-primary);
}
/* UI-KIT */
.rectangle {
    display: flex;
    box-sizing: border-box;
    height: 125px;
    width: 125px;
    max-width: 100%;
    border: 2.13px solid #2B2B2A;
    max-width: 100%;
    margin-right: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}
.rectangle--primary {
    color: var(--color-on-primary);
    background-color: var(--color-primary);
}
.rectangle--primary-variant {
    color: var(--color-on-primary);
    background-color: var(--color-primary-variant);
}
.rectangle--secondary {
    color: var(--color-on-secondary);
    background-color: var(--color-secondary);
}
.rectangle--secondary-variant {
    color: var(--color-on-secondary);
    background-color: var(--color-secondary-variant);
}
.rectangle--background {
    color: var(--color-on-background);
    background-color: var(--color-background);
}
.rectangle--error {
    color: var(--color-on-error);
    background-color: var(--color-error);
}
.rectangle--hover{
	color: var(--color-on-primary-hover);
    background-color: var(--color-primary-hover);
}
.btn--center{
	text-align: center;
}
.btn--bouton {
    margin-top: 18px;
    background-color: var(--color-primary);
    border-radius: 15px;
    padding: 13px 20px;
    text-transform: uppercase;
    border: inherit;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}
.disabled:enabled {
    opacity: .6;
    cursor: not-allowed;
}
.footer--bottom{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
// .icone{
// 	width: 50%;
// }

@media screen and (min-width: 768px) {
	.title--troisLigne{
		max-width: 400px;
	}
	.navBtn, .switch{
		padding-right: 10px;
	}
	.navBtn{
		display: none;
	}
}

@media screen and (min-width: 1440px) {
	.header__img{
		max-width: 300px;
	}
	.main{
		max-width: 1450px;
		margin: auto;
	}
	.title--troisLigne{
		max-width: 700px;
	}
	.images{
		width: 50%;
	}
}