/*
 * LISTES
** =============================================================== */

@use "_var.scss";

/* *MENU 
.menu{

}
.menu__liste{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu__el{

}
.menu__el a{
    text-decoration: none;
}
.menu__el a:hover,.menu__el a:focus{
    text-decoration: underline;
}
*/
.menu{

    &__liste{
        margin: 0;
        padding: 0;
        list-style: none;
        margin: auto;
        text-align: center;
    }
    &__el{
        border-bottom: #000 1px solid;
        &:last-child{
            border: none;
        }
        .lien{
            display: inline-block;
            padding: 1em;
            margin: .5em;
            font-size: 25px;
        }
    }
}

/* FOOTER */
.navSecondaire{
    display: flex;
    justify-content:space-between;
}
.navSecondaire__el{
    padding: 10px;
    border-right: #000 1px solid;
    &:last-child{
        border: none;
    }
}


@media screen and (min-width: 768px) {
    .menu{
        display: inherit;
        &__el{
            border-right: #fff 1px solid;
            border-bottom: none;
            &:last-child{
                border: none;
            }
            .lien{
                font-size: 1em; 
            }
        }
    }
}