/*
 * LISTES
** =============================================================== */

/* *MENU 
.menu{

}
.menu__liste{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu__el{

}
.menu__el a{
    text-decoration: none;
}
.menu__el a:hover,.menu__el a:focus{
    text-decoration: underline;
}
*/
.menu{

    &__liste{
        margin: 0;
        padding: 0;
        list-style: none;
        margin: auto;
        text-align: center;
    }
    &__el{
        border-bottom: #000 1px solid;
        &:last-child{
            border: none;
        }
        a{
            display: inline-block;
            padding: 1em;
            margin: .5em;
            font-size: 25px;
        }
    }
}

/* FOOTER */
.navSecondaire{
    display: flex;
    justify-content:space-between;
}
.navSecondaire__el{
    padding: 10px;
    border-right: #000 1px solid;
    &:last-child{
        border: none;
    }
}